<div class="container">
  <div class="col-lg-4 col-lg-offset-1 top-nav" >
    <a href={% url 'home' %} class="links" >HOTELS</a>
  </div>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 top-nav">
    <a href="mie_prenotazioni.html" class="links">Mie Prenotazioni</a>
    <span>|</span>
    <a href={% url 'struttura' %} class="links">Registra la tua struttura </a>
    <span>|</span>
    <a href="register.html" class="links">Registrati</a>
    <span>|</span>
    <a href="login.html" class="links">Accedi</a>
  </div>
</div>